@import url('https://fonts.googleapis.com/css2?family=Muli:wght@200;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Muli';
    background-color: #99aab5;
    color: #fff;
}

.hero {
    background-color: #fff;
    color: #555;
    border-left: 3px solid #555;
    border-right: 3px solid #555;
    border-top: 3px solid #555;
    border-radius: 10px;
    width: 90vw;
    margin-left: 5%;
    margin-top: 50px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 25px;
}

.logo {
    text-transform: uppercase;
    font-size: 30px;
    padding-left: 20px;
}

nav ul li {
    display: inline-flex;
    padding: 10px 20px;
    font-size: 18px;
    margin-right: 15px;
    margin: 13px 0;
}

nav ul li a {
    list-style-type: none;
    text-decoration: none;
    color: #555;
    font-family: inherit; 
    font-weight: bold;
}

.active {
    font-size: 20px;
    color: #111;
    font-weight: bold;
}

.content {
    font-size: 20px;
    justify-content: center;
    align-items: center;
    text-align: justify;
    margin: 50px 20%;
}

footer {
    display: flex;
    width: 90vw;
    background-color: #fff;
    margin-left: 5%;
    margin-bottom: 50px;
    border-radius: 8px;
    color: #555;
    padding: 15px 20px;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    border-left: 3px solid #555;
    border-right: 3px solid #555;
    border-bottom: 3px solid #555;
}

footer p {
    font-size: 20px;
    padding: 10px 20px;
}

footer a {
    text-decoration: none;
    color: #555;
    font-weight: bold;
    font-size: 25px;
}

footer ul li {
    display: block;
    list-style-type: none;
    text-decoration: none;
    padding: 10px 10px;
}

footer ul li a {
    text-decoration: none;
    color: #555;
    padding: 20px 15px;
    font-size: 20px;
}

footer ul li a:hover, footer a:hover, nav ul li a:hover {
    color: #99aab5;
}